<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p class="center">
	By having "Books are not private property" as the main idea of this humble project, <br>
	we'll try to optimize the book's loan process.  
</p>